.title {
    color: rgb(184, 11, 140);
    padding-left: 20px;
  }
  .img{
    width: 640px;
    height: 360px;
    opacity: 0.5;
    border: 10px solid transparent;
    padding: 15px;
    border-image: 30 stretch;

  }
  .pad {
    padding-left: 30px;
    background: rgb(238, 204, 232);
  }
  .body {
    
    border-radius: 25px;
 border: 10px solid rgb(69, 5, 99);
  }